[defaults]
inventory            = inventory/hosts.yml
roles_path           = roles
host_key_checking    = False
stdout_callback      = yaml
callbacks_enabled    = profile_tasks
gathering            = smart
fact_caching         = jsonfile
fact_caching_connection = .facts
fact_caching_timeout = 7200
interpreter_python   = auto_silent
retry_files_enabled  = False
force_valid_group_names = ignore

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s
