{{ ansible_managed | comment }}
#
# The {{ item.name }} tier of the front door, read by nginx as
# auth_basic_user_file {{ antares_edge_htpasswd_container_dir }}/{{ item.name }}.
# One `login:hash` per line, straight from
# antares_edge_basic_auth{{ '_admin' if item.name == 'admin' else '' }}_users.
{% for user in item.users %}
{{ user.name }}:{{ user.hash }}
{% endfor %}
